<%= stylesheet_link_tag 'hello', :media => "all" %>
<div class="intro">
  <img src ="/assets/takunomi.jpg">
    <div class ="top-text">
      <h1>今日は何飲む？</h1>
      <p>宅飲みLoverのための缶チューハイ情報共有SNS</p>
    </div>
</div>

<div class="discription">
  <h1>gokugokuとは</h1>
  <p>宅飲みを充実させる総合ポータルサイトです。</p>
  <p>好きなお酒や宅飲みスタイルを共有して、充実した宅飲みを作りましょう！</p>
</div>

  
<div class="service">
  <div class="block chuhi">
    <h2>飲みメモ</h2>
    <img src="/assets/alcohols.png">
    <p>缶チューハイ、ビール、ハイボールなど、コンビニで買えるお手軽なお酒の情報共有ページです。</p>
    <%= link_to "", posts_path %>
  </div>

  <div class="block side">
    <h2>ギャラリー</h2>
    <img src="/assets/gallery.png">
    <p>あなたの宅飲みはどんなスタイル？</p>
    <p>美味しい食べ物やお洒落なグラスと共に宅飲みの写真を投稿しましょう！</p>
    <%= link_to "", fotos_path %>
  </div>
  

</div>