<link rel="stylesheet" href="/stylesheets/top.css">
<div class="intro">
  <img src ="/assets/takunomi.jpg">
    <div class ="discription">
      <h1>今日は何飲む？</h1>
      <p>宅飲みLoverのための缶チューハイ情報共有SNS</p>
    </div>
</div>

  
<div class="menu">

  <div class="block chuhi">
    <h2>チューハイ</h2>
    <img src="/assets/drink_chu-hi.png">
    <p>日々新しい商品が展開される缶チューハイ。ノンアルからストロング系まで、お酒の強い人も弱い人も楽しめる！</p>
    <%= link_to "", posts_path %>
  </div>

  <div class="block beer">
    <h2>ビール</h2>
    <img src="/assets/online_beer.jpeg">
    <p>家でしっぽり晩酌するならビール！冷蔵庫でキンキンに冷やして飲みたいですよね！</p>
    <%= link_to "", beers_path %>
  </div>

  <div class="block arrange">
    <h2>ハイボール</h2>
    <img src="/assets/arrange.jpeg">
    <p>疲れた日にはやっぱりハイボール！</p>
    <%= link_to "", highballs_path %>
  </div>

  <div class="block side">
    <h2>おつまみ</h2>
    <img src="/assets/otumami.jpg">
    <p>宅飲みにあうおつまみはコレ！今夜試してみよう！</p>
    <%= link_to "", foods_path %>
  </div>
  

</div>