<div class ="allview-wrapper">
  <h1>フォト一覧</h1>
  <% @user.fotos.each do |t| %>
    <div class="fotoview-wrapper">
      <div class ="fotoview-post">
        <img src=<%= t.image_url %> class= "fotoview">
        <%= link_to "", foto_path(t.id) %>
        <div class="fotoview-option">
          <h4>♡ <%= t.fotoliked_users.count %></h4>
        </div>
      </div>
    </div>
  <% end %>
</div>


