<div class ="allview-wrapper">
  <h1>いいねしたメモ</h1>
  <% @user.liked_posts.each do |t| %>
    <div class ="postview">
      <p><%= t.product%></p>
      <h4><%= t.title%></h4>              
      <p>投稿日時: <%= t.created_at.to_s(:datetime_jp)%></p>
      <%= link_to "", post_path(t.id) %>
    </div>
  <% end %>
</div>