/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    padding: 0;
    margin: 0;
  }

  body {
    min-height: 100vh;
    letter-spacing: 0.2px;
    position: relative; 
    font-family: "ヒラギノ角ゴ ProN", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
    display: flex;
    flex-direction: column;
  }

  header {
    position: relative;
    background-color: #ffd900;
    height: 70px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header a{
    text-decoration: none;
    color: white;
    display: block;
  }

  header h1 a{
    padding: 15px 20px;
  }

  .header-list {
    display: flex;
    align-items: center;
  }
  
  .header-list a {
    padding: 22px 15px;
  }

  .header-list ul {
    display: flex; 
  }
  .header-list li {
    list-style: none;
    padding: 30px 0;
  }
  
  .header-list li a:hover{
    background-color: orange;
    transition: 0.4s;
  }

  footer {
    color: white;
    background-color: black;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center; //文字が要素の真ん中に
    margin-top: auto;
    bottom: 0px;
  }

  .footer-logo {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-sns {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
  }

  .twitter-share {
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    color: rgba(0, 172, 237, 1);
    padding: 2px 8px;
    border-radius: 5px;
    margin-right: 5px;
  }

  .twitter-share:hover {
    opacity: 0.8;
    transition: 0.4s;
  }



  textarea {
    resize: none;
    font: normal 15px "ＭＳ 明朝";
  }




/*　ハンバーガーメニュー・PCでは非表示 */

#nav-drawer {
  display: none;
}

  /* 共通CSS */


  input[type="text"], input[type="email"], input[type="password"] {
    height: 30px;
    width: 300px;
  }

  textarea {
    resize: none;
    height: 200px;
    width: 500px;
    font-weight: normal;
    font-size: 15px;
  }


  @media screen and (max-width: 540px) { 

    .header-list ul{
        display: none;
    }
  
    .btn, .submit-btn{
      display: block;
      margin: 10px auto;
      width: 80%;
      border-radius: 10px;
    }


    /* ---------ハンバーガーメニューのCSS-------- */
    
    #nav-drawer {
      position: relative;
      display: block;
      margin-right: 10px;
    }

    /*中身*/
    #nav-content {
      overflow: auto;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;/*最前面に*/
      width: 100%;
      height: auto;
      background: rgba(255,200,0,0.9);/*背景色*/
      transition: .3s ease-in-out;/*滑らかに表示*/
      -webkit-transform: translateY(-105%);
      transform: translateY(-105%);/*上に隠しておく*/
    }

    // ハンバーガーメニューのリスト
    #nav-drawer li {
      display: block;
      text-align: center;
      height: 60px;
      line-height: 60px;
    }
    
    #nav-drawer li a{
      color: white;
      width: 100%;
      height: 100%;
    }



    
    /*チェックボックス等は非表示に*/
    .nav-unshown {
      display:none;
    }
    
    /*アイコンのスペース*/
    #nav-open {
      display: inline-block;
      width: 30px;
      height: 22px;
      vertical-align: middle;
    }
    
    /*ハンバーガーメニューのアイコン*/
    #nav-open span, #nav-open span:before, #nav-open span:after {
      position: absolute;
      height: 4px;/*線の太さ*/
      width: 30px;/*長さ*/
      border-radius: 3px;
      background: white;
      display: block;
      content: '';
      cursor: pointer;
    }
    #nav-open span:before {
      bottom: -8px;
    }
    #nav-open span:after {
      bottom: -16px;
    }
    
    /*閉じる用の薄黒カバー*/
    #nav-close {
      display: none;/*はじめは隠しておく*/
      position: fixed;
      z-index: 99;
      top: 0;/*全体に広がるように*/
      left: 0;
      width: 100%;
      height: 100%;
      background: black;
      opacity: 0;
      transition: .3s ease-in-out;
    }
    
    /*チェックが入ったらもろもろ表示*/
    #nav-input:checked ~ #nav-close {
      display: block;/*カバーを表示*/
      opacity: .5;
    }
    
    #nav-input:checked ~ #nav-content {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);/*中身を表示（右へスライド）*/
      box-shadow: 6px 0 25px rgba(0,0,0,.15);
    }

  
  //フッター



  footer {
    height: auto;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-logo {
    padding-top: 10px;
  }

  .footer-sns {
    justify-content: center;
    margin-right: 0;
  }
  
  .twitter-share, .line-it-button {
    margin-bottom: 10px;
    font-size: 30px;
  }



  
  }