/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    padding: 0;
    margin: 0;
  }
  body {
    min-height: 100vh;
    position: relative; 
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", sans-serif;
    display: flex;
    flex-direction: column;
  }
  header {
    background-color: #ffd900;
    height: 80px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header a {
    color: white; 
    text-decoration: none; 
  }
  header h1 {
    margin-left: 20px;
    color: white;
  }
  .header-list {
    display: flex;
    align-items: center;
  }
  header ul {
    display: flex; 
  }
  header li {
    list-style: none;
    margin-right: 40px;
  }
  footer {
    color: white;
    background-color: #000;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    justify-content: flex-end;
  }

  textarea {
    resize: none;
    font: normal 15px "ＭＳ 明朝";
  }

  /* ボタンのプロパティ */

  input[type="submit"], button {
    border: solid 3px orange;
    height: 36px;
    width: 156px;
    z-index: 1;
    text-decoration: none;
    border-radius: 50px;
    background-color: white;
    color: orange;
    margin-top: 10px;
    font-size: 18px;
    display: block;
  }

  input[type="submit"]:hover, button:hover {
    background-color: orange;
    transition: 0.5s;
    color: white;
  }


  /* 共通CSS */
  

  .wrapper-common {
    width: 50%;
    margin: 10px auto;
  }

  .wrapper-common h1 {
    border-bottom: dashed 5px orange;
    margin-bottom: 10px;
  }

  input[type="text"], input[type="email"], input[type="password"] {
    height: 30px;
    width: 300px;
  }