/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
    padding: 0;
    margin: 0;
  }

  body {
    min-height: 650px;
    letter-spacing: 0.2px;
    position: relative; 
    font-family: "ヒラギノ角ゴ ProN", "Secular One", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
    display: flex;
    flex-direction: column;
    min-height: 800px;
  }

  header {
    position: relative;
    background-color: #ffd900;
    height: 70px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-family: "Noteworthy";
      padding-bottom: 10px;
    }

    a{
      text-decoration: none;
      color: white;
      display: block;
    }
  
    h1 a{
      padding: 15px 20px;
    }

    h1 a:hover {
      color: #ff9300;
      transition: 0.4s;
    }

  }

  

  .header-list {
    display: flex;
    align-items: center;

    a {
      padding: 24px 13px;
    }

    ul {
      display: flex; 
    }

    li {
      list-style: none;
      padding: 30px 0;
      font-size: 14px;
    }
    
    li a:hover{
      background-color: #ffa300;
      transition: 0.4s;
    }

  }
  

  footer {
    color: white;
    background-color: #646464;
    height: 230px;
    width: 100%;
    align-items: center; //文字が要素の真ん中に
    margin-top: auto;
    display: flex;
    bottom: 0px;

    .left-side {
      color: #c3c3c3;
      width: 30%;
      padding-left: 25px;
      p {
        font-size: 40px;
      }
    }

    .middle-side {
      width: 40%;
      p {
        margin-bottom: 10px;
      }
    }
  
    .right-side {
      width: 20%;
      p {
        font-size: 20px;
        display: inline;
      }

      .twitter-share {
        font-size: 20px;
        display: inline-block;
        text-decoration: none;
        color: #fff;
        border-radius: 5px;
        margin-left: 5px;
      }
    
      .twitter-share:hover {
        color: #00acee;
        transition: 0.4s;
      }
    }

    .bottom-side {
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 0;
      font-size: 12px;
    }


  }








/*　ハンバーガーメニュー・PCでは非表示 */

#nav-drawer {
  display: none;
}

  /* 共通CSS */


  input[type="text"], input[type="email"], input[type="password"] {
    width: 280px;
    padding: 10px 10px;
    border-radius: 3px; 
    border: 1px solid #ddd; 
    box-sizing: border-box;
    outline: 0;
  }

  input[type="text"]:focus, 
  input[type="email"]:focus, 
  input[type="password"]:focus,
  textarea:focus
  {
    box-shadow: 0 0 5px 0 rgba(255,153,0,1);
    border: 2px solid #FFF !important;
    outline: 0;
  }



  


  textarea {
    resize: none;
    height: 150px;
    width: 280px;
    padding: 10px 10px;
    border-radius: 3px; 
    border:  1px solid #ddd; 
    box-sizing: border-box;
    font-size: 14px;
    outline: 0;
  }


  @media screen and (max-width: 540px) { 

    .header-list ul{
        display: none;
    }
  
    .btn, .submit-btn{
      display: block;
      margin: 10px auto;
      width: 80%;
      border-radius: 10px;
    }


    /* ---------ハンバーガーメニューのCSS-------- */
    
    #nav-drawer {
      position: relative;
      display: block;
      margin-right: 10px;
    }

    /*中身*/
    #nav-content {
      overflow: auto;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;/*最前面に*/
      width: 100%;
      height: auto;
      background: rgba(255,200,0,0.9);/*背景色*/
      transition: .3s ease-in-out;/*滑らかに表示*/
      -webkit-transform: translateY(-105%);
      transform: translateY(-105%);/*上に隠しておく*/
    }

    // ハンバーガーメニューのリスト
    #nav-drawer li {
      display: block;
      text-align: center;
      height: 60px;
      line-height: 60px;
    }
    
    #nav-drawer li a{
      color: white;
      width: 100%;
      height: 100%;
    }



    
    /*チェックボックス等は非表示に*/
    .nav-unshown {
      display:none;
    }
    
    /*アイコンのスペース*/
    #nav-open {
      display: inline-block;
      width: 30px;
      height: 22px;
      vertical-align: middle;
    }
    
    /*ハンバーガーメニューのアイコン*/
    #nav-open span, #nav-open span:before, #nav-open span:after {
      position: absolute;
      height: 4px;/*線の太さ*/
      width: 30px;/*長さ*/
      border-radius: 3px;
      background: white;
      display: block;
      content: '';
      cursor: pointer;
    }
    #nav-open span:before {
      bottom: -8px;
    }
    #nav-open span:after {
      bottom: -16px;
    }
    
    /*閉じる用の薄黒カバー*/
    #nav-close {
      display: none;/*はじめは隠しておく*/
      position: fixed;
      z-index: 99;
      top: 0;/*全体に広がるように*/
      left: 0;
      width: 100%;
      height: 100%;
      background: black;
      opacity: 0;
      transition: .3s ease-in-out;
    }
    
    /*チェックが入ったらもろもろ表示*/
    #nav-input:checked ~ #nav-close {
      display: block;/*カバーを表示*/
      opacity: .5;
    }
    
    #nav-input:checked ~ #nav-content {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);/*中身を表示（右へスライド）*/
      box-shadow: 6px 0 25px rgba(0,0,0,.15);
    }

  
  //フッター



  footer {
    height: auto;
    display: block;
    text-align: center;

    .left-side, .middle-side, .right-side {
      width: 100%;
    }

    .left-side {
      padding: 0;
      p {
        margin: 20px auto;
      }
    }

    .right-side {
      .twitter-share {
        display: block;
      }
    }

    .bottom-side {
      position: relative;
    }
    
  }





  
  }