// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.comment a {
    text-decoration: none;
    color: darkblue;
}

.comment a:hover {
    color: orangered;
}