.alert {
    color:#262626; 
    background: rgba(255, 180, 180, 0.5);
    text-align: left;
    border-radius: 2px;
    padding:12px;
    margin: 10px auto;

    ul {
        list-style: none;
    }
}

    