// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.posts-container {
    width: 780px;
    margin: 50px auto;
    text-align: center;

    .page-title {
        border-bottom: solid 1px #535353;
        padding-bottom: 10px;
        margin: 10px auto;
        width: 80%;
        font-size: 30px;
    }
    
    .btn-container {
        margin-top: 70px;
    }
    
    /* リンクタグをボタンにする処理 */
    .btn {
        display: inline-block;
        position: relative;
        border: none;
        background-color: orange;
        height: 36px;
        width: 150px;
        z-index: 1;
        text-decoration: none;
        border-radius: 3px;
        text-align: left;
        margin-top: 0px; 

        a {
            position: absolute;
            text-align: center;
            width: 100%;
            line-height: 36px;
            z-index: 2;
            text-decoration: none;
            color: #fff;
            font-size: 18px;
        }

    }
    
    .btn:hover {
        opacity: 0.7;
        transition: 0.5s;
    } 
    
    .btn a:hover{
          color: white;
          transition: 0.5s;
    }

    .submit-btn {
        margin: 10px auto;
    }

}


.memo-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    text-align: left;

    //投稿自体のブロック
    .post {
        width: 50%;
        margin: 20px 0;
        
        //投稿内容表示部分。メモのように表示される
        .main-box {
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            width: 75%;
            transform: rotate(-1deg);
            background-color: #ffffb7;
            height: 350px;
            padding: 10px;
            box-shadow: 1px 1px 1px 1px #ddddb7;
            //投稿全体をリンクにする処理
            position: relative;

            

            a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                text-indent:-999px;
                z-index: 1;
            }

            .top-info {
                width: 100%;

                .title {
                    margin-top: 20px;
                    font-size: 20px;
                }
    
                p {
                    margin: 20px 0;
                }

            }
            

            .left-info, .right-info{
                width: 50%;
                height: 200px;
            }

            .left-info {
                p {
                    margin: 12px 0;
                }

                .tag {
                    font-weight: bold;
                    border-bottom: solid 1px #535353;
                }
            }

            .right-info {

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 150px;
                    transform: rotate(3deg);
                }
            }

            .bottom-info {
                width: 100%;

                p {
                    display: inline;
                    margin-right: 10px;
                }

                .fa-star {
                    color: gold;
                }

                .fa-heart {
                    color: #ff3333;
                }
            }
            
        }

        .main-box:hover {
            box-shadow: 1px 10px 10px #ddddb7;
            transition: 0.4s;
        }

    }

    
}


/* 詳細 */
.p-wrapper {
    margin: 30px auto;
    width: 80%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;

    .left-side, .right-side {
        width: 50%;
        height: 250px;
    }

    .left-side {

        p {
            margin-bottom: 3px;
        }
    }

    .right-side {
        position: relative;
        .img-wrapper{
            position: absolute;
            width: 200px;
            height: 200px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            text-align: center;

            .img-tape {
                background-color: #ffd900;
                opacity: 0.5;
                height: 20px;
                width: 70px;
                margin: 0 auto;
                position: absolute;
                top: -12px;
                left: 70px;
                transform: rotate(10deg);
            }
            img {
                object-fit: cover;
                width: auto;
                height: auto;
                max-width: 200px;
                max-height: 200px;
                padding: 5px;
                border: 1px solid #ccc;
                background: #fff;
            }
        }

        
        
    }

    .bottom-side {
        width: 100%;

        .tags{
            margin: 5px 0px;
            .tag{
                font-size: 12px;
                display: inline;
                background-color: rgba(255,200,0,0.5);
                padding: 8px;
                border-radius: 3px;
                margin-right: 5px;
                text-decoration: none;
                color: #000;
            }

            .tag:hover{
                background-color: rgb(255,200,0);
                transition: 0.5s;
            }
        }

        .user-wrapper{
            display: inline-block;
            .user-info {
                display: flex;
                height: 30px;
                line-height: 30px;
                
                img {
                    object-fit: cover;
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    margin-right: 10px;
                }
    
                a {
                    color: #535353;
                    text-decoration: none;
                }
    
                a:hover {
                    color: #c4c4c4;
                }
    
                
            }
        }
        
        .share-wrapper {
            display: inline-block;
            .sns-share{
                display: flex;
                float: right;
                height: 30px;
                line-height: 30px;
    
                .share {
                    font-size: 25px;
                    display: inline-block;
                    text-decoration: none;
                    border-radius: 5px;
                    margin-left: 5px;
                    margin-right: 10px;
                }
    
                .twitter{
                    color: #00acee;
                }
    
                .facebook {
                    color: #3B5998;
                }
            }
        }

        .like {
            font-size: 20px;

            .fa-heart {
                color: #ff3333;
            }
        }

        /*　いいねボタン　*/

        .good-btn {
            border: none;
            background-color: rgba(255,0,0,0.7);
            height: 36px;
            width: 156px;
            z-index: 1;
            text-decoration: none;
            border-radius: 5px;
            color: white;
            margin-top: 10px;
            font-size: 18px;
            display: block;
        }

        .good-btn:hover{
            background-color: red;
            transition: 0.5s;
        }

        //編集ボタン

        .btn {
            display: inline-block;
        }

        .danger-btn {
            background-color: #ff5555;
        }

        
    }

    //コメント欄

    .comment-wrapper {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 10px;

        .comment-title {
            text-align: center;
            padding-bottom: 10px;
            border-bottom: 1px solid #535353;
            font-size: 30px;
            margin-bottom: 50px;
        }

        form {

            textarea {
                width: 400px;
                height: 180px;
            }

            .submit-btn {
                margin: 20px 0;
            }
        }
    }
    
}

//新規投稿

.form-container {
    background-color: #efefef;
    padding: 10px;

    form {
        width: 400px;
        margin: 0 auto;
        text-align: left;
    }
    .title {
        font-size: 30px;
    }

    input[type="text"]{
        margin: 10px auto;
    }

    select {
        border: 1px solid #ddd; 
        width: 280px;
        height: 30px;
        outline: 0;
    }
    
    textarea {
        width: 400px;
        height: 200px;
    }
}



@media screen and (max-width: 780px) {
  
    .posts-container{
        width: 100%;
    }

    

    .memo-wrapper {
        .post {
            margin: 20px auto;
            width: 400px;
        }
    }


    .good-btn {
        width: 100%;
    }

    textarea, input[type="text"], #comment_comment {
        width: 90%;
    }

    .form-container{
        width: 100%;
        margin:0 auto;
    }

    select {
        width: 80%;
        height: 30px;
    }



    



}

@media screen and (max-width: 500px) {

    .p-wrapper {
        clear: both;
        .left-side, .right-side {
            width: 100%;
        }

        .left-side {
            height: auto;
        }

        .right-side {
            
            .img-tape {
                display: none;
            }
        }
    }

}
