// Place all the styles related to the relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.follow-btn {
  border: solid 3px orange;
  height: 36px;
  width: 156px;
  z-index: 1;
  text-decoration: none;
  border-radius: 5px;
  background-color: white;
  color: orange;
  margin-top: 10px;
  font-size: 18px;
  margin: 20px auto;
  display: block;
}

.follow-btn:hover{
  background-color: orange;
  transition: 0.5s;
  color: white;
}
  