
  .user-wrapper {
    width: 80%;
    margin: 10px auto;
    display: flex;
  }

  .left-wrapper{
    padding-top: 20px;
    height: 600px;
    display:inline-block;
    width: 30%;
    text-align: center;
  }

  .profile {
    margin: 0 auto;
    width: 80%;
    min-height: 150px;
    border: solid 1px black;
    border-radius: 20px;
    padding:10px;
    text-align: left;
  }

  .follow {
    position: relative;
    height: 100px;
    display: inline-block;
    padding:15px;
    width: 45%;
    box-sizing: border-box;
  }

  .follow:hover {
    opacity: 0.4;
    transition: 0.4s;
  }

  .follow a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent:-999px;
  }

  
  .mymenu {
    position: relative;
    border-bottom: solid 1px grey;
    height: 30px;
    width: 200px;
    z-index: 1;
    text-decoration: none;
    margin: 0 auto;
    text-align: left;
  }
  
  .mymenu a {
    position: absolute;
    text-align: center;
    top: 10%;
    width: 100%;
    z-index: 2;
    text-decoration: none;
    color: grey;
    font-size: 18px;
  }

  .mymenu a:hover{
    font-weight: bold;
  }

  .like, .foto-like, .postview{
    margin-top: 10px;
  }

  .like a, .foto-like a, .postview a{
    color:grey;
    text-decoration: none;
    font-size: 18px;
  }

  .postview a:hover {
    color: blue;
    font-style: bold;
  }

  .like a:hover {
    color: red;
    font-style: bold;
  }

  .foto-like a:hover {
    color: green;
    font-style: bold;
  }
  /* アイコン*/
  .icon_image {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    object-fit: cover;
  }
  
  .icon_image:hover{
    opacity: 0.7;
  }

  .user-icon { 
    width: 50px;
    height: 50px;
    border-radius: 100px;
    object-fit: cover;
    display: inline-block;
  }

  .user-icon:hover {
    opacity: 0.7;
  }

  /* マイページの右部分・投稿一覧のタブのプロパティ*/


  .right-wrapper {
    display:inline-block;
    width: 70%;
  }
  
  .tabs{
    width: 100%;
  }

  .tabs label {
    text-align: center;
  }

  .tab_item {
    line-height: 50px;
    width: 25%;
    text-align: center;
    float: left;
    border-bottom: solid 3px orange;
  }

  input[name="tab_item"] {
    display: none;
  }

  .tab_content {
    display: none;
    padding: 20px 40px 0;
    clear: both;
    overflow: hidden;
  }

  .tab1:hover {
    color:blue;
    font-weight: bold;
  }

  .tab2:hover {
    color:pink;
    font-weight: bold;
  }

  .tab3:hover {
    color:red;
    font-weight: bold;
  }

  .tab4:hover {
    color:green;
    font-weight: bold;
  }
  
  
  #postview:checked ~ #post_content,
  #foto:checked ~ #foto_content,
  #like:checked ~ #like_content,
  #foto-like:checked ~ #fotolike_content {
    display: block;
  }

  .tabs input:checked + .tab_item {
    background-color: orange;
    color: #fff;
  }

  .postview {
    height: 80px;
    width: 400px;
    background-color: rgba(255,217,0,0.7);
    border-radius: 10px;
    padding: 10px;
    position: relative;
    z-index: 1; 
    
  }

  #like_content .postview {
    display: inline-block;
  }

  .postview a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent:-999px;
    z-index: 2; 
    }

  .postview:hover {
    background-color: rgba(255, 217, 0, 0.3);
    transition: 0.4s;
  }

.fotoview-wrapper {
  display: inline-block;
  width: auto;
  min-width: 32%;
  margin-bottom: 20px;
}


.fotoview {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.fotoview-post {
    height: 200px;
    width: 200px;
    position: relative;
    z-index: 1; 
    margin: 0 auto;
}

.fotoview-post:hover {
    opacity: 0.7;
}


.fotoview-post a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent:-999px;
    z-index: 2; 
}


.fotoview-option {
  position: absolute;
  top: 40%;
  left: 0;
  height: 40px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 25px;
  display: none;
}

.fotoview-post:hover > .fotoview-option {
  display: block;
}

/*　--------全て見るのページ-------- */

.allview-wrapper {
  width: 60%;
  margin: 0 auto;
}

.allview-wrapper h1 {
  text-align: center;
  border-bottom: dashed 3px orange;
  margin-bottom: 10px;
}

.allview-wrapper .postview{
  margin: 10px auto;
}

.allview-wrapper .fotoview-wrapper{
  width: 25%;
}

.allview-wrapper .allview-btn {
  text-align: center;
}

.allview-wrapper .allview-btn a {
  padding: 10px 30px;
}

/* followings, followers */

.follow-wrapper {
  width: 70%;
  padding-top: 20px;
}

.follow-list {
  display: inline-block;
  text-align: center;
  margin: 20px 50px;
}

.mob-wrapper {
  display: none;
}


/*　モバイル */

@media screen and (max-width: 1024px) {

  .right-wrapper {
    display: none;
  }

  .left-wrapper {
    margin: 0 auto;
    display: block;
    width: 90%;
  }

  .mob-wrapper {
    display: block;
    width: 100%;
    text-align: center;
  }

  .mob-wrapper li {
    margin: 10px auto;
    list-style: none;
    display: inline-block;
    background-color: orange;
    width: 20%;
    text-decoration: none;
  }

  .mob-wrapper li a {
    line-height: 80px;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
  }

  .user-wrapper {
    width: 100%;
    display: block;
    
  }

  /* 投稿一覧ページ*/

  .allview-wrapper .postview{
    width: 60%;
  }

  .fotoview-wrapper {
    min-width: 200px;
    display: block;
    margin: 20px auto;
  }
  


}

@media screen and (max-width: 540px) {

  

  .mob-wrapper li {
    display: block;
    width: 90%;
  }

  .mob-wrapper li a {
    line-height: 60px;
  }
  



  .left-wrapper {
    width: 95%;
  }


  .user-wrapper {
    width: 100%;
  }

  .follow {
    width: auto;
  }

  /* フォロー・フォロワーリスト */
  /*　ユーザープロフィールを覆い隠して、画面上部に表示 */
  .follow-wrapper{
    position: absolute;
    background-color: white;
    display: block;
    width: 100%;
    top: 70px;
    left: 0;
    z-index: 3;
    min-height: 700px;
    text-align: center;
  }

  .follow-list {
    display: block;
    margin: 20px auto;
  }


  /* もっと見る */

  .allview-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .allview-wrapper h1 {
    text-align: center;
  }

  .allview-wrapper .postview {
    display: block;
    width: 90%;
    margin:　20px auto;
  }

  

}