<div class="gallery-container">
  <h1>Search Fotos</h1>
  <div class="search-form">
  <%= form_tag({controller:"fotos",action:"index"}, method: :get) do %>
    <%= text_field_tag :search %>
    <%= submit_tag '検索', class:"submit-btn" %>
  <% end %>
  </div>
</div>