<div class="wrapper-common">
  <h1>投稿を検索</h1>
  <p>キーワードを入力して検索する</p>
  <%= form_tag({controller:"fotos",action:"index"}, method: :get) do %>
    <%= text_field_tag :search %>
    <%= submit_tag '検索', class:"submit-btn" %>
  <% end %>
</div>